@charset "UTF-8";
/* ==============================================================

Project:	xxx - Creative Coming Soon Template
Info:		https://themeforest.net/item/xxx
Version:	1.0
Author:		3F-Team
Profile:	https://themeforest.net/user/3ftheme

-----------------------------------------------------------------
					*** TABLE OF CONTENTS ***
-----------------------------------------------------------------

	1.	Fonts
	2.	General
	3.	xxx
	4.	xxx
	5.	xxx
	6.	xxx
	7.	xxx
	8.	xxx
	8.	xxx
	9.  xxx
	10.	xxx
	11.	xxx
	12.	xxx

=============================================================*/
/*********************
    - 1. Fonts -
*********************/
@font-face {
  font-family: "flaticon";
  src: url("fonts/flaticon.eot");
  src: url("fonts/flaticon.eot?#iefix") format("embedded-opentype"), url("fonts/flaticon.woff") format("woff"), url("fonts/flaticon.ttf") format("truetype"), url("fonts/flaticon.svg#flaticon") format("svg");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "UVFLobster12";
  src: url("fonts/UVFLobster12.eot");
  src: url("fonts/UVFLobster12.eot?#iefix") format("embedded-opentype"), url("fonts/UVFLobster12.woff") format("woff"), url("fonts/UVFLobster12.ttf") format("truetype"), url("fonts/UVFLobster12.svg#UVFLobster12") format("svg");
  font-style: normal;
  font-weight: 400;
}

/*********************
    - 2. General -
*********************/
html,
body {
  margin: 0px;
  padding: 0px;
}

.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  border: none;
}

.fleft, .float-left {
  float: left;
}

.fright, .float-right {
  float: right;
}

.clear-fix,
.clearfix {
  clear: both;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.content-wrapper {
  padding: 14px 21px;
  border: 1px solid #e1e1e1;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 40px;
}

.title-default {
  color: #444444;
  font-size: 36px;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 13px;
  color: #333;
  font-weight: 400;
  line-height: 21px;
}

body h5,
body h4,
body h2 {
  font-family: 'UVFLobster12';
}

body a:hover {
  text-decoration: none;
  color: inherit;
}

.up {
  position: fixed;
  z-index: 1555;
  right: 8px;
  bottom: 10px;
  padding: 11px 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #d71e1e;
  border-color: transparent;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.up-active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.goodsale,
.ATPN,
.set-menu {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
  padding-top: 85px;
  position: relative;
}

@media screen and (max-width: 1199px) {
  .goodsale .col-3,
  .ATPN .col-3,
  .set-menu .col-3 {
    width: 100%;
    float: none;
  }
}

@media screen and (max-width: 768px) {
  .ATPN .goodsale-content .main-content aside {
    display: none;
  }
}

.goodsale .topbar li.li-display,
.ATPN .topbar li.li-display {
  display: none;
}

.goodsale-content .main-content aside {
  padding-top: 30px;
}

.goodsale-content .main-content aside h4 {
  margin: 0 39px 0px 0;
  line-height: 36px;
  margin-top: 0px;
  padding: 10px 0;
  font-size: 34px !important;
  color: #444444;
  font-family: 'UVFLobster12';
}

.goodsale-content .main-content .col9-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
}

.goodsale-content .main-content .col9-content .title h4 {
  margin: 0 40px 0px 0;
  line-height: 36px;
  margin-top: 0px;
  padding: 10px 0;
  font-size: 34px !important;
  color: #444444;
  font-family: 'UVFLobster12';
}

.goodsale-content .main-content .col9-content .Pagination {
  display: block;
  background: #DDDDDD;
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .goodsale-content .main-content .col9-content .Pagination .col-xs-3 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .goodsale-content .main-content .col9-content .Pagination .col-xs-6 {
    width: 100%;
  }
}

.goodsale-content .main-content .col9-content .Pagination a.prev {
  margin: 10px 0px 10px 10px;
}

.goodsale-content .main-content .col9-content .Pagination a.next {
  margin: 10px 10px 10px 0px;
}

.goodsale-content .main-content .col9-content .Pagination a {
  border: 1px solid #e9e9e9;
  display: inline-block;
  height: 24px;
  line-height: 22px;
  padding: 0 9px;
  color: #909090;
  font-size: 12px;
  text-align: center;
  border-radius: 0;
  -webkit-border-radius: 0;
  margin: 10px 0px;
  background: #fff;
}

.goodsale-content .main-content .col9-content .Pagination a:hover {
  background: #d71e1e;
  color: #fff;
}

.goodsale-content .main-content .col9-content .Pagination ul {
  text-align: center;
}

.goodsale-content .main-content .col9-content .Pagination ul li {
  padding: 0px;
}

.goodsale-content .main-content .col9-content .Pagination ul li.dots {
  cursor: text;
}

.goodsale-content .main-content .col9-content .Pagination ul li.dots:hover a {
  cursor: text;
  background: #fff;
  color: #909090;
}

.goodsale-content .main-content .col9-content .Pagination ul .a-active {
  background: #d71e1e;
  color: #fff;
}

.goodsale-content .main-content .owl-nav {
  position: absolute;
  top: -71px;
  right: 0;
}

.goodsale-content .main-content .owl-nav .owl-prev {
  margin-right: 5px;
}

.goodsale-content .main-content .owl-nav .owl-next {
  margin-left: 5px;
}

.goodsale-content .main-content .owl-nav i {
  font-size: 32px;
  color: #838383;
}

.goodsale-content .main-content .lst-item {
  position: relative;
}

.set-menu .listmenu1 ul li:nth-child(4):after,
.set-menu .listmenu1 ul li:nth-child(5):after {
  display: none;
}

.set-menu .topbar li.li-display {
  display: inline-block;
}

.set-menu .product .product-info__img img {
  width: 100%;
  height: 100%;
}

.set-menu .menu-content {
  display: block;
}

@media screen and (max-width: 526px) {
  .set-menu .menu-content .col-xs-6 {
    width: 100%;
  }
}

.set-menu .menu-content2 {
  display: none;
}

.set-menu .goodsale-content .main-content .owl-nav {
  top: -41px;
}

.toolbar {
  font-size: 14px;
  background: #DDDDDD;
  margin-bottom: 15px;
  position: relative;
}

.toolbar-box {
  float: left;
  color: #909090;
}

.toolbar ul {
  margin-right: 10px;
  font-size: 0px;
}

@media screen and (max-width: 768px) {
  .toolbar ul {
    display: none;
  }
}

.toolbar ul li {
  padding: 0px;
}

.toolbar ul li a {
  width: 35px;
  height: 45px;
  line-height: 49px;
  display: block;
  text-align: center;
  border-right: 1px solid #e5e5e5;
  color: #878787;
  font-size: 16px;
}

.toolbar ul li a:hover i, .toolbar ul li a:active i, .toolbar ul li a:focus i {
  color: #d71e1e;
}

.toolbar ul li a:hover i.icon-active, .toolbar ul li a:active i.icon-active, .toolbar ul li a:focus i.icon-active {
  color: #d71e1e;
}

.toolbar .sort-tag {
  margin: 10px 0px;
}

.toolbar span {
  color: #666;
  margin: 0px 10px;
  line-height: 25px;
  display: inline-block;
}

.toolbar select {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  height: 25px;
  color: #444;
  width: 180px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px 0px 2px 5px;
  position: relative;
}

.toolbar select::after {
  content: '';
  position: absolute;
  width: 1px;
  border: 1px solid #e5e5e5;
  height: 100%;
  background: #e5e5e5;
  top: 0px;
  right: 5px;
}

body {
  font-family: 'UVFLobster12', sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}

#wrapper.show {
  left: 283px;
}

@media screen and (max-width: 992px) {
  #wrapper.show {
    left: 255px;
  }
}

p {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col-3 {
  width: 25%;
  float: left;
}

.col-6 {
  width: 50%;
  float: left;
}

button,
input {
  outline: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header .container-fluid {
  margin: 0 5px;
  padding: 0px 15px;
  position: relative;
}

header .header-top {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.5);
}

.hotline {
  padding: 0px 30px;
}

.hotline_number p {
  margin-top: 8px;
  color: #fff;
  font-style: italic;
}

.header-top {
  display: block;
}

@media screen and (max-width: 992px) {
  .header-top {
    display: none;
  }
}

.header-top a {
  text-decoration: none;
}

.header-top a i {
  margin: 5px 0px;
  padding: 0 5px;
}

.header-top .right {
  padding-top: 5px;
}

.header-top .right li {
  padding: 0px 10px;
  font-size: 11px;
  font-style: italic;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.header-top .right li > a:hover {
  color: #d71e1e;
}

.header-top .right li.book-meal {
  font-size: 15px;
  background-color: #fc5103;
  padding: 9px 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  margin-right: 30px;
}

.header-top .right li.book-meal:hover {
  color: #d71e1e;
}

.header-top .right li.book-meal p {
  margin: 0;
  font-weight: 700;
  font-style: normal;
}

.header-top .right li.user {
  position: relative;
}

.header-top .right li.user:hover .user-menu2 {
  display: block;
}

.header-top .right li .user-menu2 {
  position: absolute;
  display: none;
  width: auto;
  padding: 5px 10px 5px 0px;
  background-color: #fff;
  z-index: 100;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.75);
  color: #666;
}

.header-top .right li .user-menu2 li {
  padding-right: 0;
}

.header-top .right li .user-menu2 a {
  font-family: sans-serif;
  display: inline-block;
  padding: 10px 0px;
}

.header-top .right li .user-menu2 a:hover::before {
  border-color: #d71e1e;
  background-color: #d71e1e;
}

.header-top .right li .user-menu2 a::before {
  content: "";
  width: 4px;
  height: 4px;
  line-height: 11px;
  display: inline-block;
  border: 1px solid #666;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 3px 1px;
}

.header-top .right li.connect-fb img {
  width: 30px;
  height: 30px;
}

.header-bottom {
  background-image: url("images/ta_bg_header_top.png");
  position: relative;
  height: 86px;
  margin-top: 3px;
  color: #fff;
}

@media screen and (max-width: 991px) {
  .header-bottom {
    display: none;
  }
}

.header-bottom .logo {
  margin-top: 8px;
}

@media screen and (max-width: 1205px) {
  .header-bottom .logo {
    margin-top: 8px;
    position: absolute;
    top: -86px;
    left: 75px;
  }
}

.header-bottom nav.menu-bottom {
  margin-top: 13px;
}

.header-bottom nav.menu-bottom li {
  position: relative;
}

@media screen and (max-width: 1051px) {
  .header-bottom nav.menu-bottom li {
    padding-left: 0;
  }
}

.header-bottom nav.menu-bottom li:hover .dropdown-menu2 {
  display: block;
}

.header-bottom nav.menu-bottom a {
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  display: inline-block;
  padding: 0px 20px;
  line-height: 56px;
  font-size: 18px;
}

.header-bottom nav.menu-bottom a:hover {
  color: #d71e1e;
}

@media screen and (max-width: 1325px) {
  .header-bottom nav.menu-bottom a {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 1051px) {
  .header-bottom nav.menu-bottom a {
    padding: 0px 5px;
  }
}

.header-bottom nav.menu-bottom a i {
  font-size: 11px;
  margin-left: 5px;
  line-height: 22px;
  vertical-align: text-top;
}

.header-bottom nav.menu-bottom .search-form {
  position: relative;
}

.header-bottom nav.menu-bottom .search-form input {
  padding: 0 0 0 13px;
  line-height: 39px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 39px;
  width: 198px;
  color: #acacac !important;
  font-size: 11px;
  font-style: italic;
  outline: none;
  border: none;
}

.header-bottom nav.menu-bottom .search-form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 39px;
  width: 39px;
  background: url(images/search-icon.png) no-repeat center transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.header-bottom nav.menu-bottom .cart {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: -30px;
}

.header-bottom nav.menu-bottom .cart:hover .cart-hover {
  display: block;
}

.header-bottom nav.menu-bottom .cart > a {
  width: 38px;
  height: 38px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #d71e1e;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  padding: 0;
  margin-left: 7px;
}

.header-bottom nav.menu-bottom .cart-hover {
  display: none;
  top: 38px;
  width: 360px;
  position: absolute;
  right: 0px;
  z-index: 99;
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 1px 0 6px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.75);
  margin-top: 9px;
}

.header-bottom nav.menu-bottom .cart-hover .content {
  display: none;
}

.header-bottom nav.menu-bottom .cart-hover .content.active {
  display: block;
}

.header-bottom nav.menu-bottom .cart-hover .content-cart {
  display: none;
}

.header-bottom nav.menu-bottom .cart-hover .content-cart.active {
  display: block;
}

.header-bottom nav.menu-bottom .cart-hover p {
  color: #333;
  margin: 0;
  line-height: 21px;
  font-size: 13px;
}

.header-bottom nav.menu-bottom .cart-hover a {
  font-family: sans-serif;
  color: #d71e1e;
  line-height: 21px;
  font-size: 13px;
}

.header-bottom nav.menu-bottom .dropdown-menu2 {
  top: 97%;
  position: absolute;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  color: #333;
  font-family: sans-serif;
}

.header-bottom nav.menu-bottom .dropdown-menu2 li {
  display: block;
}

.header-bottom nav.menu-bottom .dropdown-menu2 a {
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  display: block;
  padding: 3px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.header-bottom nav.menu-bottom .dropdown-menu2 a:hover {
  color: #262626;
  background-color: #f5f5f5;
}

.header-bottom nav.menu-bottom .cart-item {
  padding: 15px 0 15px;
  border-bottom: 1px dotted #e1e1e1;
  display: none;
}

.header-bottom nav.menu-bottom .cart-item.active {
  display: block;
}

.header-bottom nav.menu-bottom .cart-item_img {
  padding-right: 20px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.header-bottom nav.menu-bottom .cart-item_img a {
  padding: 0;
}

.header-bottom nav.menu-bottom .cart-item_text a {
  color: #333;
  font-family: 'UVFLobster12', sans-serif;
  padding: 0;
  font-size: 15px;
}

.header-bottom nav.menu-bottom .cart-item .cart-remove {
  position: absolute;
  color: #666;
  font-size: 22px;
  right: 20px;
  cursor: pointer;
}

.header-bottom nav.menu-bottom .cart-price {
  padding: 13px 0px;
  margin-bottom: 17px;
  border-bottom: 1px dotted #e1e1e1;
  text-align: center;
}

.header-bottom nav.menu-bottom .cart-price p span:nth-child(1) {
  font-size: 9px;
  font-weight: 600;
}

.header-bottom nav.menu-bottom .cart-price p span:nth-child(2) {
  font-size: 18px;
  font-family: 'UVFLobster12', sans-serif;
  font-weight: 600;
  color: #d71e1e;
  padding-left: 10px;
}

.header-bottom nav.menu-bottom .cart-act a {
  font-family: 'UVFLobster12', sans-serif;
  display: inline-block;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin: 0 15px;
  min-width: 80px;
  background-color: #000;
  padding: 0 30px;
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.header-bottom nav.menu-bottom .cart-act a:hover {
  background-color: #d71e1e;
}

.header-mobie {
  background-color: #fff;
  display: none;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header-mobie .col-xs-12 {
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .header-mobie {
    display: block;
  }
}

.header-mobie .logo-mobie {
  display: none;
  max-height: 50px;
  max-width: 120px;
  margin: 0 auto;
}

.header-mobie .logo-mobie img {
  max-height: 50px;
}

@media screen and (max-width: 992px) {
  .header-mobie .logo-mobie {
    display: block;
  }
}

.header-mobie .logo_img {
  display: block;
}

@media screen and (max-width: 992px) {
  .header-mobie .logo_img {
    display: none;
  }
}

.header-mobie .logo_img a {
  display: inline-block;
}

.header-mobie .menu-mobie a {
  display: inline-block;
  text-align: center;
  background-color: #44494e;
}

.header-mobie .menu-mobie a i {
  font-size: 28px;
  width: 50px;
  line-height: 50px;
  color: #fff;
}

.header-mobie .right-mobie {
  word-spacing: -4px;
}

@media screen and (max-width: 992px) {
  .header-mobie .right-mobie {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.header-mobie .right-mobie li {
  position: relative;
  word-spacing: 0px;
  padding: 0;
  padding-left: 3px;
}

.header-mobie .right-mobie li > a {
  background-color: #CD1923;
  text-align: center;
  display: inline-block;
}

.header-mobie .right-mobie li > a > i {
  font-size: 20px;
  width: 50px;
  line-height: 50px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .header-mobie .right-mobie li > a > i {
    width: 32px;
  }
}

.header-mobie .right-mobie li.user:hover .user-drop {
  display: block;
}

.header-mobie .right-mobie li.search:hover .search-drop {
  display: block;
}

.header-mobie .right-mobie li.cart:hover .cart-hover {
  display: block;
}

.header-mobie .right-mobie ul.user-drop {
  display: none;
  width: 200px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  right: 0px;
  padding: 10px 15px;
  z-index: 99;
  font-size: 11px;
}

.header-mobie .right-mobie ul.user-drop li {
  display: block;
}

.header-mobie .right-mobie ul.user-drop li a {
  font-family: sans-serif;
  background-color: #fff;
}

.header-mobie .right-mobie ul.user-drop li a::before {
  content: "\f105";
  font-family: fontawesome;
  margin-right: 5px;
}

.header-mobie .right-mobie .search-drop {
  display: none;
  position: absolute;
  width: 200px;
  right: 0;
}

.header-mobie .right-mobie .search-drop input {
  padding: 0 0 0 13px;
  line-height: 39px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 39px;
  width: 198px;
  color: #acacac !important;
  font-size: 11px;
  font-style: italic;
  outline: none;
  border: none;
}

.header-mobie .right-mobie .search-drop button {
  position: absolute;
  right: 0;
  top: 0;
  height: 39px;
  width: 39px;
  background: url(images/search-icon.png) no-repeat center transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.header-mobie .cart-hover {
  top: 43px;
  display: none;
  width: 300px;
  position: absolute;
  right: 0px;
  z-index: 99;
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 1px 0 6px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.75);
  margin-top: 9px;
}

.header-mobie .cart-hover .content {
  display: none;
}

.header-mobie .cart-hover .content.active {
  display: block;
}

.header-mobie .cart-hover p {
  color: #333;
  margin: 0;
  line-height: 21px;
  font-size: 13px;
}

.header-mobie .cart-hover a {
  font-family: sans-serif;
  color: #d71e1e;
  line-height: 21px;
  font-size: 13px;
}

.header-mobie .cart-item {
  padding: 15px 0 15px;
  border-bottom: 1px dotted #e1e1e1;
  display: none;
}

.header-mobie .cart-item.active {
  display: block;
}

.header-mobie .cart-item_img {
  padding-right: 20px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.header-mobie .cart-item_img a {
  padding: 0;
}

.header-mobie .cart-item_text a {
  color: #333;
  font-family: 'UVFLobster12', sans-serif;
  padding: 0;
  font-size: 15px;
}

.header-mobie .cart-item .cart-remove {
  position: absolute;
  color: #666;
  font-size: 22px;
  right: 20px;
  cursor: pointer;
}

.header-mobie .cart-price {
  padding: 13px 0px;
  margin-bottom: 17px;
  border-bottom: 1px dotted #e1e1e1;
  text-align: center;
}

.header-mobie .cart-price p span:nth-child(1) {
  font-size: 9px;
  font-weight: 600;
}

.header-mobie .cart-price p span:nth-child(2) {
  font-size: 18px;
  font-family: 'UVFLobster12', sans-serif;
  font-weight: 600;
  color: #d71e1e;
  padding-left: 10px;
}

.header-mobie .cart-act a {
  font-family: 'UVFLobster12', sans-serif;
  display: inline-block;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin: 0 12px;
  background-color: #000;
  padding: 0 20px;
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.header-mobie .cart-act a:hover {
  background-color: #d71e1e;
}

.header-fixed.show {
  left: 0;
}

.header-fixed {
  position: fixed;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  width: 283px;
  background-color: #000;
  color: #6f6f6f;
  z-index: 1001;
  top: 0;
  bottom: 0;
  left: -283px;
  padding-top: 150px;
}

@media screen and (max-width: 992px) {
  .header-fixed {
    width: 255px;
    overflow: auto;
  }
}

.header-fixed .bar-menu {
  display: block;
}

@media screen and (max-width: 991px) {
  .header-fixed .bar-menu {
    display: none;
  }
}

.header-fixed__logo {
  margin-bottom: 40px;
}

.header-fixed__logo a {
  display: block;
  text-align: center;
}

.header-fixed ul {
  list-style: none;
  padding-left: 0;
}

.header-fixed .bar-menu::before {
  right: -34px;
  top: 150px;
  position: absolute;
  cursor: pointer;
  content: "";
  width: 34px;
  height: 38px;
  background: url(images/menu-pc.png) no-repeat 10px center #d71e1e;
}

.header-fixed .bar-menu::after {
  content: "";
  position: absolute;
  right: -47px;
  top: 150px;
  width: 0;
  height: 0;
  border-top: 19px solid #d71e1e;
  border-bottom: 19px solid #d71e1e;
  border-right: 12px solid transparent;
  border-left: 12px solid #d71e1e;
  z-index: 1;
  cursor: pointer;
}

.header-fixed .menu-left__2 {
  position: absolute;
  display: none;
  left: 299px;
  width: 156px;
  color: #fff;
  top: -110px;
  height: 264px;
  background-color: #131212;
}

.header-fixed .menu-left__2 a {
  font-family: sans-serif;
  white-space: pre;
  line-height: 41px;
  display: block;
  background-color: #131212;
}

.header-fixed .menu-left__2 a:hover {
  color: #d71e1e;
  background-color: #000;
}

.header-fixed .menu-left__1 li.list-drop:hover::before {
  display: block;
}

@media screen and (max-width: 992px) {
  .header-fixed .menu-left__1 li.list-drop:hover::before {
    display: none;
  }
}

.header-fixed .menu-left__1 li.list-drop:hover .menu-left__2 {
  display: block;
}

@media screen and (max-width: 992px) {
  .header-fixed .menu-left__1 li.list-drop:hover .menu-left__2 {
    display: none;
  }
}

.header-fixed .menu-left__1 li.list-drop::before {
  display: none;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 0px 21px 16px;
  border-color: transparent transparent transparent #000;
  right: -16px;
  top: 0;
}

.header-fixed .menu-left__1 > li {
  border-top: 1px dashed rgba(255, 255, 255, 0.2);
  position: relative;
}

.header-fixed .menu-left__1 > li:last-child {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.header-fixed .menu-left__1 > li > a {
  display: block;
  padding: 8px 15px;
  margin-top: 1px;
  line-height: 26px;
  font-size: 16px;
}

.header-fixed .menu-left__1 > li > a:hover {
  color: #d71e1e;
}

@media screen and (max-width: 992px) {
  .header-fixed {
    text-align: left;
    padding-top: 0;
    background-color: #44494e;
    color: #fff;
    padding: 10px;
  }
  .header-fixed a {
    font-family: sans-serif;
    text-transform: uppercase;
  }
  .header-fixed__logo {
    display: none;
  }
  .header-fixed .menu-left__1 > li {
    position: relative;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #44494e;
  }
  .header-fixed .menu-left__1 > li a {
    padding-left: 10px;
  }
  .header-fixed .menu-left__2 {
    height: auto;
    background-color: inherit;
    position: static;
    background-color: #44494e;
  }
  .header-fixed .menu-left__2 a {
    background-color: inherit;
    text-transform: initial;
  }
  .header-fixed .menu-left__2 a::before {
    content: "\f105";
    font-family: fontawesome;
    margin-right: 5px;
  }
  .header-fixed .menu-left li.active {
    background-color: #33363a;
  }
  .header-fixed .menu-left li.active .menu-left__2 {
    background-color: #33363a;
  }
  .header-fixed .menu-left li.active .menu-left__2 a {
    background-color: inherit;
  }
}

.header-fixed span.drop-button {
  display: none;
}

@media screen and (max-width: 992px) {
  .header-fixed span.drop-button {
    display: block;
  }
}

.header-fixed span.drop-button {
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  right: 5px;
  top: 5px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  border: 1px solid #6a6d71;
}

.header-fixed span.drop-button.active {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.header-fixed span.drop-button::before {
  font-family: fontawesome;
  content: "\f107";
  font-size: 15px;
}

.footer-top {
  background-image: url(images/footer-bg.jpg);
  position: relative;
  color: #fff;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  clear: both;
  padding-bottom: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer-top::after {
  background: url(images/ta_bg-radius.png) repeat-x center top transparent;
  position: absolute;
  width: 100%;
  height: 10px;
  content: "";
  top: 0;
  margin: 0 auto;
}

.footer-top .row {
  margin-left: -15px;
  margin-right: -15px;
}

.footer-top .col-3 article {
  padding: 0px 15px;
}

.footer-top .time {
  border-bottom: 1px dashed #8a8a8a;
  padding: 20px 0 10px;
}

.footer-top .time p {
  margin: 0;
}

.footer-top .title {
  font-size: 34px;
}

.footer-top .list-check {
  list-style: none;
  padding-left: 0;
}

.footer-top .list-check p {
  line-height: 56px;
  margin: 0;
}

.footer-top .list-check p i {
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: #7D726C;
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-right: 15px;
  margin-top: 5px;
}

.footer-top .list-check p span {
  font-size: 12px;
}

.footer-top .list-check a {
  font-family: sans-serif;
  line-height: 34px;
}

.footer-top .list-check a::before {
  background-image: url(images/ta_icon_page.jpg);
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 4px;
  height: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.footer-top .list-socials li {
  margin-right: 5px;
}

.footer-top .list-socials li.facebook i {
  background-color: #395AA1;
}

.footer-top .list-socials li.twitter i {
  background-color: #46B0E4;
}

.footer-top .list-socials li.google i {
  background-color: #1672BD;
}

.footer-top .list-socials li.rss i {
  background-color: #F7BD2E;
}

.footer-top .list-socials li.youtube i {
  background-color: #7EDFE8;
}

.footer-top .list-socials li i {
  width: 37px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  font-size: 19px;
  opacity: 1;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.footer-top .list-socials li i:hover {
  opacity: 0.75;
}

.footer-bottom {
  background-color: #000000;
  border-top: 1px solid #000000;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-bottom__left {
  font-size: 13px;
}

.footer-bottom__left p {
  margin: 0;
  color: #fff;
}

.footer-bottom__left a {
  color: #d71e1e;
}

.footer-bottom__right li {
  margin-left: 10px;
}

#call-fixed {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding-left: 15px;
  background-color: #115408;
  -webkit-border-radius: 0 50% 50% 0;
  border-radius: 0 50% 50% 0;
}

@media screen and (max-width: 768px) {
  #call-fixed {
    display: block;
  }
}

#call-fixed a {
  width: 50px;
  height: 50px;
  display: block;
}

#wrapper {
  position: relative;
  padding-top: 86px;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  left: 0;
}

@media screen and (max-width: 992px) {
  #wrapper {
    padding-top: 50px;
  }
}

.banner-slide .owl-carousel .owl-nav button.owl-next,
.banner-slide .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  margin: 0;
  outline: none;
}

.banner-slide .owl-carousel .owl-nav button.owl-next:hover i,
.banner-slide .owl-carousel .owl-nav button.owl-prev:hover i {
  opacity: 0.9;
}

.banner-slide .owl-carousel .owl-nav button.owl-next i,
.banner-slide .owl-carousel .owl-nav button.owl-prev i {
  font-size: 50px;
  color: #fff;
  opacity: 0.5;
}

.banner-slide .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.banner-slide .owl-carousel .owl-nav button.owl-next:hover {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-color: transparent;
}

.banner-slide .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.banner-slide .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
}

.banner-slide .owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.banner-slide .owl-theme .owl-dots .owl-dot.active {
  outline: none;
}

.banner-slide .owl-theme .owl-dots .owl-dot.active span {
  background-color: #fff;
}

.banner-slide .owl-theme .owl-dots span {
  background: transparent;
  border: 1px solid #fff;
}

.menu {
  margin-top: 45px;
}

.menu__title h1 {
  color: #444444;
  font-size: 34px;
}

.menu__info {
  margin-bottom: 25px;
}

.menu__info p {
  font-size: 13px;
}

.menu__tab-product {
  margin-bottom: 20px;
}

.menu__tab-product ul.nav.nav-pills {
  margin-bottom: 40px;
}

.menu__tab-product .owl-carousel .owl-nav {
  display: block;
}

.menu__tab-product .owl-carousel:hover .owl-nav button.owl-next,
.menu__tab-product .owl-carousel:hover .owl-nav button.owl-prev {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.menu__tab-product .owl-carousel .owl-nav button.owl-next,
.menu__tab-product .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #636363;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.menu__tab-product .owl-carousel .owl-nav button.owl-next i,
.menu__tab-product .owl-carousel .owl-nav button.owl-prev i {
  color: #fff;
  font-size: 18px;
}

.menu__tab-product .owl-carousel .owl-nav button.owl-prev {
  top: 40%;
  left: -20px;
}

.menu__tab-product .owl-carousel .owl-nav button.owl-prev i {
  -webkit-transform: translate(-2px, 1px);
  -moz-transform: translate(-2px, 1px);
  -ms-transform: translate(-2px, 1px);
  -o-transform: translate(-2px, 1px);
  transform: translate(-2px, 1px);
}

.menu__tab-product .owl-carousel .owl-nav button.owl-next {
  top: 40%;
  right: -20px;
}

.menu__tab-product .owl-carousel .owl-nav button.owl-next i {
  -webkit-transform: translate(2px, 1px);
  -moz-transform: translate(2px, 1px);
  -ms-transform: translate(2px, 1px);
  -o-transform: translate(2px, 1px);
  transform: translate(2px, 1px);
}

.menu__tab-product .nav-pills > li {
  float: none;
  margin-top: 10px;
}

.menu__tab-product .nav-pills > li a {
  margin-bottom: 1px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 29px;
  line-height: 29px;
  padding: 0 20px;
  background-color: #636363;
  color: #fff;
}

.menu__tab-product .nav-pills > li a:hover {
  background-color: #d71e1e;
}

.menu__tab-product .nav-pills > li.active a {
  background-color: #d71e1e;
}

.banner-home {
  margin-bottom: 50px;
}

.banner-home .col-xs-3 {
  padding: 4px;
}

.banner-home .col-xs-6 {
  padding: 4px;
}

@media screen and (max-width: 650px) {
  .banner-home .col-xs-6 {
    width: 100%;
  }
}

.banner-home ul.list-item {
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 650px) {
  .banner-home ul.list-item {
    width: 100%;
    word-spacing: -4px;
    margin-bottom: 0;
  }
}

.banner-home ul.list-item li {
  margin-bottom: 10px;
}

@media screen and (max-width: 650px) {
  .banner-home ul.list-item li {
    width: 50%;
    display: inline-block;
    margin-bottom: 0;
    padding: 5px;
  }
}

.banner-home img {
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.banner-home img:hover {
  opacity: 0.8;
}

.banner-home .item-center img {
  width: 100%;
}

.product-sale .row {
  margin-left: 0;
  margin-right: 0;
}

.product-sale__title h1 {
  padding: 52px 0px 10px;
  font-size: 34px;
  color: #444444;
  font-weight: normal;
  margin-top: 10px;
}

.product-sale__slide {
  margin-top: 35px;
}

.product-sale__slide .owl-carousel:hover .owl-nav button.owl-next,
.product-sale__slide .owl-carousel:hover .owl-nav button.owl-prev {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.product-sale__slide .owl-carousel .owl-nav button.owl-next,
.product-sale__slide .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #636363;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.product-sale__slide .owl-carousel .owl-nav button.owl-next i,
.product-sale__slide .owl-carousel .owl-nav button.owl-prev i {
  color: #fff;
  font-size: 18px;
}

.product-sale__slide .owl-carousel .owl-nav button.owl-prev {
  top: 40%;
  left: -20px;
}

.product-sale__slide .owl-carousel .owl-nav button.owl-prev i {
  -webkit-transform: translate(-2px, 1px);
  -moz-transform: translate(-2px, 1px);
  -ms-transform: translate(-2px, 1px);
  -o-transform: translate(-2px, 1px);
  transform: translate(-2px, 1px);
}

.product-sale__slide .owl-carousel .owl-nav button.owl-next {
  top: 40%;
  right: -20px;
}

.product-sale__slide .owl-carousel .owl-nav button.owl-next i {
  -webkit-transform: translate(2px, 1px);
  -moz-transform: translate(2px, 1px);
  -ms-transform: translate(2px, 1px);
  -o-transform: translate(2px, 1px);
  transform: translate(2px, 1px);
}

.customer-cmt {
  padding-top: 10px;
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.customer-cmt__title h3 {
  font-size: 34px;
  color: #fff;
  font-weight: normal;
  padding: 5px 0 25px;
}

.customer-cmt__avatar {
  width: 138px;
  height: 138px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  -webkit-perspective: 1px;
  -moz-perspective: 1px;
  perspective: 1px;
  border: 8px solid #fff;
  background-color: #fff;
}

.customer-cmt__text {
  padding: 10px 60px;
  margin: 15px auto 10px;
  position: relative;
  width: 75%;
  font-size: 116.667%;
  background: url(images/ta_nhaynhay.png) no-repeat left top transparent;
  color: #fff;
  font-style: italic;
}

@media screen and (max-width: 559px) {
  .customer-cmt__text {
    width: 90%;
    padding: 10px 0;
  }
}

.customer-cmt .owl-theme .owl-dots .owl-dot.active {
  outline: none;
}

.customer-cmt .owl-theme .owl-dots .owl-dot.active span {
  background-color: #fff;
}

.customer-cmt .owl-theme .owl-dots span {
  background: transparent;
  border: 1px solid #fff;
}

.partner {
  padding-top: 50px;
  padding-bottom: 30px;
}

.partner__title h3 {
  font-size: 34px;
  color: #444444;
  padding: 10px 0;
}

.about-page {
  margin-top: 86px;
}

@media screen and (max-width: 768px) {
  .about-page {
    margin-top: 0;
  }
}

.about-page .content-wrapper {
  text-align: center;
}

.about-page .content-wrapper img {
  text-align: center;
}

.about-page .content-wrapper p {
  text-align: justify;
}

.cart-page {
  padding-top: 86px;
}

@media screen and (max-width: 768px) {
  .cart-page {
    margin-top: 0;
  }
}

.cart-page table {
  width: 100%;
}

.cart-page table tbody {
  font-family: sans-serif;
}

.cart-page table tbody tr.active {
  display: table-row;
}

.cart-page table tbody tr {
  display: none;
}

.cart-page table tbody tr.show-table {
  display: table-row;
}

.cart-page table thead th {
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 20px;
}

.cart-page table td {
  border-top: 1px solid #dddddd;
  padding: 5px;
}

.cart-page table td.image {
  text-align: center;
}

.cart-page table td.image img {
  max-height: 100px;
  max-width: 50px;
}

.cart-page table td.qty {
  text-align: center;
}

.cart-page table td.qty input {
  width: 64px;
  text-align: center;
  height: 30px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  color: #808080;
  border: 1px solid #ccc;
  outline: none;
  padding-left: 15px;
}

.cart-page table td.item {
  color: #d71e1e;
}

.cart-page table td.price {
  text-align: center;
}

.cart-page table td.remove {
  text-align: center;
}

.cart-page table td.remove:hover {
  color: #1672BD;
}

.cart-page .note-form label {
  font-family: sans-serif;
}

.cart-page .note-form textarea {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 70px;
  border-color: #DDD7D7;
  resize: none;
}

.cart-page .cart-buttons {
  margin-top: 30px;
}

.cart-page .cart-buttons .button-checkout {
  margin-top: 30px;
}

.cart-page .cart-buttons .button-checkout a {
  background: #bf1515;
  color: #fff;
  border: none;
  display: inline-block;
  padding: 0 20px;
  font-size: 16px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  position: relative;
  cursor: pointer;
  margin: 7px;
}

.cart-page .cart-buttons .button-checkout a::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  right: 45px;
}

.cart-page .cart-buttons .button-checkout a::after {
  content: "";
  background: url(images/ta_icon-arr.png) no-repeat center right;
  width: 30px;
  height: 100%;
  float: right;
  margin-left: 10px;
}

.cart-page .cart-buttons .button-checkout a:hover {
  background: #d71e1e;
}

.checkout-page {
  background-color: #ecf0f1;
  font-family: sans-serif;
  margin-top: -86px;
}

.checkout-page .checkout-title {
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
  color: #2c3e50;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .checkout-page .checkout-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 992px) {
  .checkout-page .checkout-title {
    margin-top: 40px;
  }
}

.checkout-page .checkout-title span.back {
  color: #0082dd;
  position: absolute;
  left: 0;
  font-size: 14px;
  text-transform: capitalize;
  height: 30px;
  font-weight: 400;
  line-height: 30px;
  background: url(images/ta_back-checkout.png) no-repeat center left;
  vertical-align: bottom;
  padding-left: 22px;
  top: 11px;
}

@media screen and (max-width: 992px) {
  .checkout-page .checkout-title span.back {
    top: -30px;
  }
}

.checkout-page .form-user {
  background-color: #fff;
}

.checkout-page .info h2 {
  color: #2c3e50;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: sans-serif;
}

.checkout-page .info hr {
  border-top: 1px solid #0082dd;
  width: 320px;
  margin: 17px 0px;
}

@media screen and (max-width: 992px) {
  .checkout-page .info hr {
    width: 100%;
  }
}

.checkout-page .info .user-login a {
  color: #0082dd;
}

.checkout-page .info .user-login span {
  padding: 0px 3px;
}

.checkout-page .info .form-info {
  margin-top: 20px;
}

.checkout-page .info .form-info label {
  font-size: 14px;
  color: #0082dd;
  font-weight: 400;
  display: block;
}

.checkout-page .info .form-info label.error {
  color: #d71e1e;
}

.checkout-page .info .form-info .select-county {
  position: relative;
  display: inline-block;
  margin-top: 15px;
}

@media screen and (max-width: 992px) {
  .checkout-page .info .form-info .select-county {
    width: 100%;
  }
}

.checkout-page .info .form-info .select-county select {
  margin-top: 0;
}

.checkout-page .info .form-info .select-county::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 1px;
  right: 1px;
  -webkit-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  top: 1px;
  width: 2em;
  background-color: #BDC3C7;
}

.checkout-page .info .form-info .select-county::after {
  position: absolute;
  pointer-events: none;
  content: "▼";
  font-size: 11px;
  line-height: 1;
  margin-top: -0.5em;
  right: 8px;
  top: 50%;
  color: #FFFFFF;
}

.checkout-page .info .form-info .select-city {
  position: relative;
  display: inline-block;
  margin-top: 15px;
}

@media screen and (max-width: 992px) {
  .checkout-page .info .form-info .select-city {
    width: 100%;
  }
}

.checkout-page .info .form-info .select-city select {
  margin-top: 0;
}

.checkout-page .info .form-info .select-city::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 1px;
  right: 1px;
  -webkit-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  top: 1px;
  width: 2em;
  background-color: #BDC3C7;
}

.checkout-page .info .form-info .select-city::after {
  position: absolute;
  pointer-events: none;
  content: "▼";
  font-size: 11px;
  line-height: 1;
  margin-top: -0.5em;
  right: 8px;
  top: 50%;
  color: #FFFFFF;
}

.checkout-page .info .form-info input,
.checkout-page .info .form-info select,
.checkout-page .info .form-info textarea {
  width: 320px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  height: 37px;
  padding-left: 5px;
  outline: 0;
  text-indent: 20px;
  margin-top: 15px;
}

@media screen and (max-width: 992px) {
  .checkout-page .info .form-info input,
  .checkout-page .info .form-info select,
  .checkout-page .info .form-info textarea {
    width: 100%;
  }
}

.checkout-page .info .form-info input.error,
.checkout-page .info .form-info select.error,
.checkout-page .info .form-info textarea.error {
  border: 1px solid #d71e1e;
}

.checkout-page .info .form-info .note-build textarea {
  height: 70px;
}

.checkout-page .shipping h3 {
  font-size: 15px;
  color: #2c3e50;
  font-weight: 400;
  text-transform: uppercase;
}

.checkout-page .how-pay {
  color: #666666;
}

.checkout-page .how-pay label.method {
  line-height: 35px;
}

@media screen and (max-width: 992px) {
  .checkout-page .how-pay label.method {
    display: block;
  }
}

.checkout-page .how-pay input.method-input {
  width: 1px;
  opacity: 0;
  margin: 0;
}

.checkout-page .how-pay input.method-input:checked ~ span.method-radio {
  background-position: 0 -20px;
}

.checkout-page .how-pay span.method-radio {
  padding-left: 28px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 600;
  background-image: url(images/ta_radio.png);
}

.checkout-page .box-cart {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 10px;
  font-size: 14px;
  color: #666666;
}

.checkout-page .box-cart h2 {
  font-family: sans-serif;
  color: #2c3e50;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.checkout-page .box-cart h2 span {
  font-size: 13px;
  color: #666666;
}

.checkout-page .box-cart .list-item {
  border-top: 1px dashed #eee;
  padding: 10px 0;
  text-align: left;
}

.checkout-page .box-cart .total-price {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 600;
}

.checkout-page .box-cart .total-price p {
  margin: 0;
}

.checkout-page .box-cart .shiping-price {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  padding-top: 10px;
}

.checkout-page .box-cart .btn-coupon {
  margin-bottom: 0;
  display: block;
  padding-top: 11px;
  padding: 5px 10px 0 0;
  padding-bottom: 10px;
  color: #0685DE;
  text-align: left;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
}

.checkout-page .box-cart .btn-coupon i {
  margin-left: 5px;
}

.checkout-page .box-cart .btn-coupon:hover {
  color: #ef8742;
}

.checkout-page .box-cart .btn-coupon:hover i {
  margin-left: 10px;
}

.checkout-page .box-cart .coupon.active {
  display: block;
}

.checkout-page .box-cart .coupon {
  margin-top: 15px;
  display: none;
}

.checkout-page .box-cart .coupon input {
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  height: 37px;
  padding-left: 5px;
  outline: 0;
}

.checkout-page .box-cart .coupon a {
  width: auto;
  display: inline-block;
  height: 32px;
  float: right;
  font-size: 13px;
  padding: 0 7px;
  background: #3498db;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  line-height: 36px;
  margin: 20px 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.checkout-page .box-cart .total-checkout {
  background: #f0f0f0;
  padding: 10px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  font-weight: 600;
}

.checkout-page .box-cart .total-checkout p {
  margin: 0;
}

.checkout-page .box-cart .total-checkout span {
  text-transform: none;
}

.checkout-page #pay-checkout {
  background-color: #3498db;
  color: #fff;
  opacity: 1;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  border: 0;
  white-space: nowrap;
}

.checkout-page #pay-checkout:hover {
  opacity: 0.8;
}

.checkout-page .col-sm-4 {
  padding: 15px;
}

.products-page {
  padding-top: 86px;
  font-family: sans-serif;
}

@media screen and (max-width: 768px) {
  .products-page {
    margin-top: 0;
  }
}

.products-page .breadcrumbs {
  background-color: #F2F2F2;
  padding: 11px 0;
}

.products-page .breadcrumbs .breadcrumb {
  margin: 0;
  padding: 2px;
  background: transparent;
}

.products-page .breadcrumbs .breadcrumb li.active span {
  color: #777777;
}

.products-page .breadcrumbs .breadcrumb a {
  color: #bf1515;
}

.products-page .product-title {
  padding-bottom: 40px;
}

.products-page .product-title h1 {
  font-family: 'UVFLobster12', sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #333;
  text-transform: capitalize;
}

.products-page .product-price {
  padding-bottom: 12px;
  font-family: 'UVFLobster12', sans-serif;
  margin-top: 10px;
}

.products-page .product-price span {
  font-size: 34px;
  color: #d71e1e;
  margin-right: 25px;
}

.products-page .quantity-box {
  margin-bottom: 30px;
  max-width: 125px;
}

.products-page .quantity-box input.quantity-val {
  color: #333;
  font-size: 15px;
  width: 54px;
  min-height: 50px;
  text-align: center;
  float: left;
  line-height: normal;
  outline: none;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  margin-right: 5px;
}

.products-page .quantity-box .quantity-up,
.products-page .quantity-box .quantity-down {
  float: left;
}

.products-page .quantity-box .quantity-up button,
.products-page .quantity-box .quantity-down button {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  line-height: 24px;
  padding: 0px;
  font-size: 20px;
  width: 35px;
  height: 25px;
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  border: 1px solid #eee;
  background: #7f7f7f;
}

.products-page .btn-detail {
  border: none;
  padding: 0 30px 0 50px;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 50px;
  line-height: 47px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  font-family: 'UVFLobster12';
  font-size: 18px;
  font-weight: 300;
  text-transform: initial;
}

.products-page .btn-detail::before {
  content: "";
  width: 30px;
  height: 100%;
  float: left;
  margin-left: 10px;
  position: absolute;
  left: 0;
  top: 0;
}

.products-page .btn-detail.btn-add {
  background: #bf1515;
  margin: 10px 0px;
}

.products-page .btn-detail.btn-add::before {
  background: url(images/ta_cart.png) no-repeat center center;
}

.products-page .btn-detail.btn-buy {
  background: #7f7f7f;
  cursor: pointer;
  margin: 10px 0px;
}

.products-page .btn-detail.btn-buy::before {
  background: url(images/ta_check.png) no-repeat center center;
}

.products-page .related {
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .products-page .related__products {
    text-align: center;
  }
}

.products-page .related__title h3 {
  font-family: 'UVFLobster12';
  color: #d71e1e;
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 5px;
}

.products-page .related hr {
  border-top: 1px solid #d71e1e;
  margin-bottom: 23px;
}

#page-product.nav.nav-tabs {
  border: none;
}

#page-product.nav.nav-tabs li {
  float: none;
  display: block;
  margin-bottom: 3px;
}

#page-product.nav.nav-tabs li.active a {
  background-color: #d71e1e;
}

#page-product.nav.nav-tabs li.active a::before {
  content: "";
  position: absolute;
  right: -14px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27px 0 27px 14px;
  border-color: transparent transparent transparent #d71e1e;
}

#page-product.nav.nav-tabs li a {
  background-color: #5c5c5c;
  position: relative;
  font-size: 14px;
  padding: 17px 22px;
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'UVFLobster12';
}

.main-product {
  padding-top: 30px;
  margin-top: 10px;
}

.main-product .slider-pc {
  display: block;
}

@media screen and (max-width: 768px) {
  .main-product .slider-pc {
    display: none;
  }
}

.main-product .slider-mobie {
  display: none;
}

@media screen and (max-width: 768px) {
  .main-product .slider-mobie {
    display: block;
  }
}

.main-product .slider-mobie .nav-thuml {
  margin-top: 30px;
}

.main-product .flex-direction-nav a {
  font-size: 0px;
  width: 27px;
  height: 27px;
  text-align: center;
  display: inline-block;
  background-color: #fff;
}

.main-product .flex-direction-nav a:before {
  font-family: fontawesome;
  font-size: 18px;
  text-align: center;
  line-height: 29px;
}

.main-product .flex-direction-nav a.flex-next:before {
  content: "\f054";
}

.main-product .flex-direction-nav a.flex-prev:before {
  content: "\f053";
}

.main-product .nav-thuml .owl-carousel .owl-nav button.owl-next {
  right: 32px;
}

.main-product .nav-thuml .owl-carousel .owl-nav button.owl-prev {
  left: 32px;
}

.main-product .nav-thuml .owl-carousel .owl-nav button.owl-next,
.main-product .nav-thuml .owl-carousel .owl-nav button.owl-prev {
  width: 27px;
  height: 26px;
  position: absolute;
  top: -webkit-calc(50% - 16px);
  top: -moz-calc(50% - 16px);
  top: calc(50% - 16px);
  background-color: #fff;
}

.zoomContainer {
  z-index: 2;
}

.login-page {
  padding-top: 86px;
}

.login-page .icon-field {
  display: inline-block;
  background-color: #F8F8F8;
  color: white;
  border: solid 1px #E7E7E7;
  text-align: center;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  line-height: 33px;
  width: 35px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.login-page .icon-login {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

.login-page .icon-email::after {
  content: url(images/ta_email.png);
}

.login-page .icon-pass::after {
  content: url(images/ta_pass.png);
  margin-top: 8px;
  display: block;
}

.login-page input.login_input {
  max-width: -webkit-calc(100% - 30px);
  max-width: -moz-calc(100% - 30px);
  max-width: calc(100% - 30px);
  width: 270px;
  height: 37px;
  display: inline-block;
  background-color: #fff;
  border: solid 1px #E7E7E7;
  margin-left: -5px;
  margin-top: 10px;
  padding-left: 10px;
  outline: none;
  margin-bottom: 0px;
}

.login-page input.login_input::-webkit-input-placeholder {
  font-family: sans-serif;
}

.login-page input.login_input:-moz-placeholder {
  font-family: sans-serif;
}

.login-page input.login_input::-moz-placeholder {
  font-family: sans-serif;
}

.login-page input.login_input:-ms-input-placeholder {
  font-family: sans-serif;
}

.login-page input.login_input::-ms-input-placeholder {
  font-family: sans-serif;
}

.login-page input.login_input::placeholder {
  font-family: sans-serif;
}

.login-page #dang_nhap {
  max-width: 100%;
  width: 335px;
  padding: 15px;
  margin: auto;
  margin-bottom: 20px;
}

.login-page .action_bottom button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 35px;
  background: #d60303;
  text-align: center;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  padding: 6px 12px;
  margin-bottom: 0;
  font-family: sans-serif;
}

.login-page .req_pass {
  text-align: left;
  margin-top: 10px;
}

.login-page .req_pass a {
  color: #d60303;
}

.login-page .req_pass a:hover {
  color: #ef8742;
}

.login-page label.error {
  font-family: sans-serif;
  text-align: left;
  color: #d60303;
  margin-top: 10px;
  display: block;
}

.login-page input {
  font-family: sans-serif;
}

.singin-page {
  padding-top: 86px;
}

.singin-page input {
  font-family: sans-serif;
}

.singin-page .icon-field {
  display: inline-block;
  background-color: #F8F8F8;
  color: white;
  border: solid 1px #E7E7E7;
  text-align: center;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  line-height: 33px;
  width: 35px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.singin-page .icon-login {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

.singin-page .icon-email::after {
  content: url(images/ta_email.png);
}

.singin-page .icon-user::after {
  content: url(images/ta_userico.png);
}

.singin-page .icon-pass::after {
  content: url(images/ta_pass.png);
  margin-top: 8px;
  display: block;
}

.singin-page input.login_input {
  max-width: -webkit-calc(100% - 30px);
  max-width: -moz-calc(100% - 30px);
  max-width: calc(100% - 30px);
  width: 270px;
  height: 37px;
  display: inline-block;
  background-color: #fff;
  border: solid 1px #E7E7E7;
  margin-left: -5px;
  margin-top: 10px;
  padding-left: 10px;
  outline: none;
  margin-bottom: 0px;
}

.singin-page input.login_input::-webkit-input-placeholder {
  font-family: sans-serif;
}

.singin-page input.login_input:-moz-placeholder {
  font-family: sans-serif;
}

.singin-page input.login_input::-moz-placeholder {
  font-family: sans-serif;
}

.singin-page input.login_input:-ms-input-placeholder {
  font-family: sans-serif;
}

.singin-page input.login_input::-ms-input-placeholder {
  font-family: sans-serif;
}

.singin-page input.login_input::placeholder {
  font-family: sans-serif;
}

.singin-page #dang_ki {
  max-width: 100%;
  width: 335px;
  padding: 15px;
  margin: auto;
  margin-bottom: 20px;
}

.singin-page .action_bottom button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 35px;
  background: #d60303;
  text-align: center;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  padding: 6px 12px;
  margin-bottom: 0;
  font-family: sans-serif;
}

.singin-page .req_pass {
  text-align: left;
  margin-top: 10px;
}

.singin-page .req_pass a {
  color: #d60303;
}

.singin-page .req_pass a:hover {
  color: #ef8742;
}

.singin-page label.error {
  font-family: sans-serif;
  text-align: left;
  color: #d60303;
  margin-top: 10px;
  display: block;
}

.page-title {
  padding-top: 30px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}

.page-title__left h4 {
  margin: 0;
  font-size: 24px;
  color: #ca4646;
  font-family: sans-serif;
  font-weight: 500;
}

.page-title__right a {
  display: inline-block;
  padding: 0 20px;
  padding-top: 5px;
  border-right: 1px solid #ccc;
}

.page-title__right li:last-child a {
  border-right: none;
}

.page-product {
  padding-top: 50px;
}

@media screen and (max-width: 475px) {
  .page-product .col-xs-6 {
    width: 100%;
  }
}

.info-order input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0px;
  margin-bottom: 30px;
}

.info-order select {
  margin-bottom: 30px;
  color: #777777;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0px;
}

.menu-list select {
  color: #777777;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0px;
}

.menu-list .title {
  font-size: 20px;
  color: #ca4646;
}

.menu-list .messenger {
  margin-bottom: 30px;
}

.menu-list .messenger textarea {
  margin-top: 40px;
  color: #777777;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 10px 10px;
  resize: none;
}

.menu-list .form-submit .fleft.ul.list-inline li {
  margin-right: 60px;
}

@media screen and (max-width: 635px) {
  .menu-list .form-submit .fleft.ul.list-inline {
    float: none;
  }
  .menu-list .form-submit .fleft.ul.list-inline li {
    display: block;
    text-align: right;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 635px) {
  .menu-list .form-submit .fright.ul.list-inline {
    float: none;
  }
  .menu-list .form-submit .fright.ul.list-inline li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: right;
  }
}

.menu-list .form-submit button {
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #666666;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.menu-list .form-submit button.active {
  background-color: #ca4646;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-list .form-submit button.active:hover {
  background-color: #bf1515;
}

.order-content {
  padding: 0px 50px;
  margin-bottom: 60px;
}

.order-title {
  font-size: 32px;
  margin-bottom: 50px;
  font-family: 'UVFLobster12', sans-serif;
}

.item-sidebar2 .seller-item {
  display: inline-block;
  width: 100%;
  clear: both;
  border-bottom: 1px dashed #c9c9c9;
  padding: 30px 0 20px;
}

.item-sidebar2 .seller-item .seller-img {
  float: left;
  margin: 0 15px 0 0;
  width: 100px;
}

.item-sidebar2 .seller-item .seller-img img {
  width: 100%;
}

.item-sidebar2 .seller-item .product-content {
  background-color: #fff;
  overflow: hidden;
  text-align: left;
}

.item-sidebar2 .seller-item .product-content h5 {
  font-size: 14px;
  padding-left: 5px;
  line-height: 21px;
  margin: 0px;
}

.item-sidebar2 .seller-item .product-content .price {
  font-size: 18px;
  color: #d71e1e;
  float: left;
  margin: 0;
  margin-right: 8px;
  margin-top: 5px;
  font-family: 'UVFLobster12',sans-serif;
}

.listmenu2__title {
  margin: 0 40px 0px 0;
  line-height: 36px;
  margin-top: 0px;
  padding: 10px 0;
  font-size: 34px;
  color: #444444;
  font-weight: normal;
}

.listmenu2 .list-menu {
  list-style: none;
  padding-left: 0;
}

.listmenu2 .list-menu__2 {
  list-style: none;
  padding-left: 0;
  display: none;
}

.listmenu2 .list-menu__2 li {
  padding-left: 15px;
}

.listmenu2 .list-menu__2 li:first-child {
  border-top: none;
}

.listmenu2 .list-menu li {
  position: relative;
  border-bottom: 1px dashed #c9c9c9;
}

.listmenu2 .list-menu li:first-child {
  border-top: 1px dashed #c9c9c9;
}

.listmenu2 .list-menu i.arrow-down {
  position: absolute;
  padding: 20px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 12px;
  height: 7px;
  background-image: url(images/ta_arrow-down.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 11px 11px;
  -o-background-size: 11px;
  background-size: 11px;
}

.listmenu2 .list-menu a {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  background: none;
  color: #444444;
}

.listmenu2 .list-menu a:hover {
  color: #d71e1e;
}

.list-product {
  margin-bottom: 30px;
}

.list-product .product-info__img {
  position: relative;
  height: 197px;
  overflow: hidden;
  z-index: 1;
}

.list-product .product-info__img img {
  width: 100%;
  height: 100%;
}

.list-product .product-info__img:hover .layer-prd {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.list-product .layer-prd {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: #00000080;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  line-height: 197px;
  left: 0;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.list-product .layer-prd i {
  vertical-align: middle;
  color: #fff;
  background: #ffffff66;
  width: 48px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 17px;
}

.list-product .list-prd__infor h3 {
  font-size: 18px;
  line-height: 20px;
  color: #444;
  margin: 0px;
}

.list-product .list-prd__infor h3:hover {
  cursor: pointer;
  color: #d71e1e;
}

.list-product .list-prd__infor h4 {
  color: #d71e1e;
  margin-top: 15px;
  margin-bottom: 15px;
}

.list-product p {
  text-align: left;
  font-size: 12px;
  color: #666666;
  margin-bottom: 25px;
}

.list-product li {
  padding: 0;
}

.list-product li a.img {
  background-image: url(images/ta_add-to-cmp.png);
}

.list-product li span.img {
  background-image: url(images/ta_quick-view.png);
}

.list-product li a.img, .list-product li span.img {
  cursor: pointer;
  display: block;
  width: 46px;
  height: 39px;
  line-height: 39px;
  margin-left: 1px;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.list-product li a.img:hover, .list-product li span.img:hover {
  background-color: #d71e1e;
}

.list-product li a.button {
  display: inline-block;
  cursor: pointer;
  padding: 0 20px 0 40px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(images/basket-icon.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  height: 39px;
  color: #fff;
  border: 0px;
}

.list-product li a.button span {
  line-height: 40px;
}

.list-product li a.button:hover {
  background-color: #d71e1e;
}

.related-products {
  display: inline-block;
}

.related-products__price p {
  margin: 0;
}

.related-products__name h3 {
  outline: none;
  color: #bf1515;
  font-size: 24px;
  margin: 0;
}

.view-product-popup.modal-dialog {
  width: 940px;
  margin-top: 86px;
}

.view-product-popup button.close {
  z-index: 9;
  width: 32px;
  height: 32px;
  background: none;
  font-size: 28px;
  line-height: 32px;
  color: #333333;
  text-align: center;
  background: #fff;
  position: absolute;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  top: -15px;
  right: -14px;
  opacity: .9;
}

.view-product-popup button.close::before {
  content: "\f057";
  display: block;
  font-family: "FontAwesome";
  font-size: 32px;
  line-height: 32px;
}

.view-product-popup .image-zoom img {
  max-height: 300px;
  margin-bottom: 5px;
}

.view-product-popup .nav-thuml .owl-carousel .owl-item img {
  border: 2px solid transparent;
}

.view-product-popup .nav-thuml .owl-carousel .owl-item img:hover {
  border: 2px solid #bf1515;
}

.view-product-popup .nav-thuml .owl-carousel .owl-item img.active {
  border: 2px solid #bf1515;
}

.view-product-popup .nav-thuml .owl-stage-outer {
  margin: 0px 39px;
}

.view-product-popup .nav-thuml .owl-carousel .owl-nav button.owl-next,
.view-product-popup .nav-thuml .owl-carousel .owl-nav button.owl-prev {
  width: 27px;
  height: 26px;
  position: absolute;
  top: -webkit-calc(50% - 16px);
  top: -moz-calc(50% - 16px);
  top: calc(50% - 16px);
  background-color: #fff;
}

.view-product-popup .nav-thuml .owl-carousel .owl-nav button.owl-next:hover i,
.view-product-popup .nav-thuml .owl-carousel .owl-nav button.owl-prev:hover i {
  color: #333;
}

.view-product-popup .nav-thuml .owl-carousel .owl-nav button.owl-next {
  right: 32px;
}

.view-product-popup .nav-thuml .owl-carousel .owl-nav button.owl-prev {
  left: 32px;
}

.view-product-popup .nav-thuml .owl-theme .owl-nav .disabled {
  display: none;
}

.view-product-popup .modal-title h4 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.view-product-popup .modal-price {
  color: #bf1515;
  padding-bottom: 12px;
}

.view-product-popup .number-input label {
  display: block;
  color: #828282;
  font-weight: 300;
  font-size: 13px;
  font-family: sans-serif;
}

.view-product-popup .number-input input {
  max-width: 60px;
  text-align: center;
  font-family: sans-serif;
  padding: 6px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #E5E5E5;
}

.view-product-popup .add-input {
  font-family: sans-serif;
}

.view-product-popup .add-input a {
  color: #828282;
  font-weight: 300;
  font-size: 13px;
}

.view-product-popup .add-input button {
  background: #bf1515;
  margin: 10px 0px;
  color: #fff;
  border: none;
  padding: 0 30px 0 50px;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 50px;
  line-height: 47px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}

.view-product-popup .add-input button::before {
  content: "";
  width: 30px;
  height: 100%;
  float: left;
  margin-left: 10px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(images/ta_cart.png) no-repeat center center;
}

.add-cart-popup .modal-body {
  padding: 0;
}

.add-cart-popup .modal-body button.close {
  z-index: 9;
  width: 32px;
  height: 32px;
  background: none;
  font-size: 28px;
  line-height: 32px;
  color: #333333;
  text-align: center;
  background: #fff;
  position: absolute;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  top: -15px;
  right: -14px;
  opacity: .9;
}

.add-cart-popup .modal-body button.close::before {
  content: "\f057";
  display: block;
  font-family: "FontAwesome";
  font-size: 32px;
  line-height: 32px;
}

.add-cart-popup.modal-dialog {
  width: 940px;
  margin-top: 86px;
}

.add-cart-popup .cart-modal {
  padding: 30px;
  min-height: 318px;
}

.add-cart-popup .modal-title {
  font-size: 17px;
  text-align: left;
  font-weight: 600;
  color: #444444;
  margin-bottom: 22px;
  text-transform: uppercase;
  font-family: sans-serif;
}

.add-cart-popup .modal-title span {
  padding-left: 5px;
}

.add-cart-popup .product-info__img {
  max-width: 178px;
  border: 1px solid #d6d4d4;
  padding: 5px;
  margin-right: 30px;
}

.add-cart-popup .product-info__content .item-name h3 {
  font-family: sans-serif;
  display: block;
  padding: 10px 0 10px 0;
  text-transform: uppercase;
  margin: 20px 0 5px;
  width: 100%;
  font-size: 13px;
  color: #bf1515;
}

.add-cart-popup .product-info__content .item-price h4 {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
}

.add-cart-popup .product-info__content .item-number {
  font-weight: 700;
}

.add-cart-popup .product-info__content .item-number span {
  font-weight: 400;
}

.add-cart-popup .cart-layer {
  background-color: #F7F7F7;
  position: relative;
}

.add-cart-popup .cart-layer__title h2 {
  font-size: 17px;
  text-align: left;
  font-weight: 600;
  color: #444444;
  margin-bottom: 22px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-top: 0;
}

.add-cart-popup .cart-layer__title h2 span {
  color: #bf1515;
}

.add-cart-popup .cart-layer__sum {
  line-height: 29px;
}

.add-cart-popup .cart-layer__sum span {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 10px;
  color: #d71e1e;
  font-style: italic;
  padding-left: 5px;
}

.add-cart-popup .cart-layer__act {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 30px 20px 30px;
}

.add-cart-popup .cart-layer__act button {
  font-size: 14px;
  background-color: #bf1515;
  height: 39px;
  color: #fff;
  line-height: 25px;
  border: 0px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 12px;
}

.add-cart-popup .cart-layer__act button i {
  padding-left: 3px;
}

.product.component .product-info {
  position: relative;
  margin: 5px 0;
  overflow: hidden;
}

.product.component .product-info:hover .product-info__act {
  bottom: 0;
}

.product.component .product-info__img {
  height: 283px;
  overflow: hidden;
}

.product.component .product-info__act {
  position: absolute;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  bottom: -40px;
  left: 0;
}

@media screen and (max-width: 768px) {
  .product.component .product-info__act {
    bottom: 0;
    display: none;
  }
}

.product.component .product-info__act li {
  padding: 0;
}

.product.component .product-info__act li a.img {
  background-image: url(images/ta_add-to-cmp.png);
}

.product.component .product-info__act li span.img {
  background-image: url(images/ta_quick-view.png);
}

.product.component .product-info__act li a.img, .product.component .product-info__act li span.img {
  cursor: pointer;
  display: block;
  width: 46px;
  height: 39px;
  line-height: 39px;
  margin-left: 1px;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.product.component .product-info__act li a.img:hover, .product.component .product-info__act li span.img:hover {
  background-color: #d71e1e;
}

.product.component .product-info__act li a.button {
  display: inline-block;
  cursor: pointer;
  padding: 0 20px 0 40px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(images/basket-icon.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  height: 39px;
  color: #fff;
  border: 0px;
}

.product.component .product-info__act li a.button span {
  line-height: 40px;
}

.product.component .product-info__act li a.button:hover {
  background-color: #d71e1e;
}

.product.component .product-box {
  padding: 7px 0;
}

.product.component .product-box__name {
  width: 60%;
  height: 45px;
  overflow: hidden;
}

.product.component .product-box__name a {
  line-height: 22px;
  padding: 2px 0;
  color: #444444;
  font-size: 16px;
  font-family: sans-serif;
}

.product.component .product-box__name a:hover {
  color: #d71e1e;
}

.product.component .product-box__price {
  text-align: right;
  width: 40%;
}

.product.component .product-box__price h4 {
  margin: 0;
  font-size: 18px;
  color: #d71e1e;
  line-height: 22px;
  padding: 2px 0;
}

.list-new-item {
  margin-bottom: 30px;
}

.list-new-item .col-box img {
  width: 100%;
  border: 1px solid #d9d9d9;
}

.list-new-item .col-box h2 {
  font-size: 20px;
  cursor: pointer;
  margin: 0px;
  line-height: 33px;
}

.list-new-item .col-box small {
  display: inline-block;
  margin-left: 2px;
  color: #909090;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 0px;
}

.list-new-item .col-box .body-listnews a {
  color: #bf1515;
}

.list-new-item .col-box .postDetail {
  border-top: 1px solid #e1e1e1;
  padding-top: 6px;
  margin-top: 10px;
}

.list-new-item .col-box .postDetail i {
  color: #333;
  margin-right: 5px;
}

.item-sidebar .seller-item {
  display: inline-block;
  width: 100%;
  clear: both;
  border-bottom: 1px dashed #c9c9c9;
  padding: 30px 0 20px;
}

.item-sidebar .seller-item .seller-img {
  float: left;
  margin: 0 15px 0 0;
  width: 100px;
}

.item-sidebar .seller-item .seller-img img {
  width: 100%;
}

.item-sidebar .seller-item .product-content {
  background-color: #fff;
  overflow: hidden;
  text-align: left;
}

.item-sidebar .seller-item .product-content h5 {
  font-size: 14px;
  padding-left: 5px;
  line-height: 21px;
  margin: 0px;
}

.listmenu {
  margin-bottom: 20px;
}

.listmenu ul {
  padding: 0px;
  margin: 0px;
}

.listmenu ul li {
  list-style: none;
  border-bottom: 1px dashed #c9c9c9;
}

.listmenu ul li:nth-child(1) {
  border-top: 1px solid #c9c9c9;
}

.listmenu ul li:hover a {
  color: #bf1515;
}

.listmenu ul li a {
  color: #444444;
  display: block;
  padding: 10px 15px;
}

.topbar {
  font-size: 13px;
  font-weight: 400;
}

.topbar .breadcrumbs {
  background-color: #F2F2F2;
  padding: 11px 0;
}

.topbar .breadcrumbs ul li a {
  color: #bf1515;
  text-decoration: none;
}

.topbar .breadcrumbs ul li + li {
  padding-left: 15px;
  position: relative;
}

.topbar .breadcrumbs ul li + li a {
  cursor: text;
  display: block;
  text-decoration: none;
}

.topbar .breadcrumbs ul li + li:before {
  content: '/';
  position: absolute;
  left: 2px;
}

.topbar .breadcrumbs ul li:last-child a {
  color: #777;
}

/*# sourceMappingURL=style.css.map */
